node_modules
data/byteshop-mysql-data
data/database.sqlite
.env
.DS_Store
docker-compose.yml
dispatch.yaml
yarn-error.log
yarn.lock
public/index.html
app.production.yaml
app.staging.yaml

/example/public/
